// $font-family: "Source Sans Pro", sans-serif;
//
// $font-family: "PT Sans", sans-serif;
$font-family: "Gelasio", serif;
$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #ab9f8a;

$weeks-colors: #ed61ff, #1f6321, #1dd1a1, #5f27cd;
$booked-color: #bf906f;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;
